@page "/todo";

<div class="container">
    <div class="todo-count">
        <span>Todos(@TodoList.Count(todo => !todo.IsDone))</span>
    </div>
    
    <div class="searchbox">
        <BitSearchBox Placeholder="Search" OnSearch="HandleSearch" OnClear="HandleClear"></BitSearchBox>
    </div>

    <div class="todo-app">
        <div class="todo-add">
            <input @bind="@TodoName" @onkeyup="@AddTodo" placeholder="Add a new todo" />
        </div>

        @if (FilteredTodoList.Count > 0)
        {
            <BitBasicList Items="FilteredTodoList" Virtualize="true" Class="todo-list">
                <RowTemplate Context="TodoItem">
                    <div Class="todo-item">
                        <div class="todo-title">
                            <BitCheckbox OnChange="() => HandleTodoChange(TodoItem)"/>
                            @if (TodoItem.IsEdit)
                            {
                                <input @bind="@NewName" />
                                <BitIconButton IconName="Accept" OnClick="(e => EditTodo(TodoItem))" Class="accept"/>
                                <BitIconButton IconName="Cancel" OnClick="(e => CancelEditTodo(TodoItem))" Class="cancel"/>
                            }
                            else
                            {
                                <span>
                                    @TodoItem.Title
                                </span>
                            }

                        </div>

                        <div class="todo-action">
                            <BitIconButton IconName="Edit" OnClick="(e => EditTodoItem(TodoItem))" Class="edit"/>
                            <BitIconButton IconName="Delete" OnClick="(e => DeleteTodoItem(TodoItem))" Class="delete"/>
                        </div>
                    </div>

                </RowTemplate>
            </BitBasicList>
        }
    </div>
    <div class="footer">
        <BitChoiceGroup OnValueChange="HandleFilterChange">
            <BitChoiceOption Text="All" Value="All" />
            <BitChoiceOption Text="Active" Value="Active" />
            <BitChoiceOption Text="Completed" Value="Completed" />
        </BitChoiceGroup>

        @*<div class="footer-action">
            @if (TodoList.Count > 0)
            {
                <BitButton OnClick="CheckAll">
                    CheckAll
                </BitButton>
            }

            @if (TodoList.Any(todo => todo.IsDone))
            {
                <BitButton OnClick="ClearCompleted">
                    ClearCompleted
                </BitButton>
            }
        </div>*@
    </div>
</div>



   


