@page "/todo";

<div class="container">
    <div class="todo-count">
        <span>Todos(@TodoList.Count(todo => !todo.IsDone))</span>
    </div>
    
    <div class="searchbox">
        <BitSearchBox Placeholder="Search" OnSearch="HandleSearch" OnClear="HandleClear"></BitSearchBox>
    </div>

    <div class="todo-app">
        <div class="todo-add">
            <input @bind="@TodoName" @onkeyup="@AddTodo" placeholder="Add a new todo" />
        </div>

        @if (FilteredTodoList.Count > 0)
        {
            <BitBasicList Items="FilteredTodoList" Virtualize="true" Class="todo-list">
                <RowTemplate Context="TodoItem">
                    <div Class="todo-item">
                        <div class="todo-title">
                            <BitCheckbox OnChange="() => HandleTodoChange(TodoItem)"/>
                            @if (TodoItem.IsEdit)
                            {
                                <input @bind="@NewName" />
                                <BitIconButton IconName="BitIconName.Accept" OnClick="(e => EditTodo(TodoItem))" Class="accept"/>
                                <BitIconButton IconName="BitIconName.Cancel" OnClick="(e => CancelEditTodo(TodoItem))" Class="cancel"/>
                            }
                            else
                            {
                                <span>
                                    @TodoItem.Title
                                </span>
                            }

                        </div>

                        <div class="todo-action">
                            <BitIconButton IconName="BitIconName.Edit" OnClick="(e => EditTodoItem(TodoItem))" Class="edit"/>
                            <BitIconButton IconName="BitIconName.Delete" OnClick="(e => DeleteTodoItem(TodoItem))" Class="delete"/>
                        </div>
                    </div>

                </RowTemplate>
            </BitBasicList>
        }
    </div>
    <div class="footer">
        <BitChoiceGroup TItem="BitChoiceGroupOption<string>" TValue="string" OnChange="HandleFilterChange">
            <BitChoiceGroupOption Text="All" Value="@("All")" />
            <BitChoiceGroupOption Text="Active" Value="@("Active")" />
            <BitChoiceGroupOption Text="Completed" Value="@("Completed")" />
        </BitChoiceGroup>
    </div>
</div>



   


